// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

ul {
  padding-left: 18px;
}

.card__user-article {
  width: 32px;
  height: 32px;
}

.card__user-time-article {
  width: 45px;
  height: 18px;
}

.formatFooter {
  background-color: #e5e5e5;
  font-family: var(--ff-sans-serif);
  font-size: 14px;
}
