$mainBackgroundColor: rgb(245,245,245);
$btn-asideLeftBackground: rgb(226,227,242);
$dev-purple: #3b49df;
$dev-purple-hover: #323ebe;
$dev-white: #ffffff;
$dev-radius: 0.375rem;
$dev-font: -apple-system, "Segoe UI", Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

*{
    font-family: -apple-system, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.formatFooter {
    background-color: #e5e5e5;
    font-family: var(--ff-sans-serif);
    font-size: 14px;
}

#imgDev{
    width: 50px;
    height: 40px;
}

.backgroundPage {
    background-color: $mainBackgroundColor;
}

.btn-asideLeft{
    display: flex;
    justify-content: start;
    background-color: $mainBackgroundColor;
    margin: 0;
    padding: 0;
    :hover{
        background-color: $btn-asideLeftBackground;
    }
}

.btn-purple {
  background-color: $dev-purple;
  color: $dev-white;
  border-radius: $dev-radius;
  padding: 8px 16px;
}

.BtnContainerPost {
  display: none;
}
/* SASS de Vryahn dont touch */

.btn-vryahn {
  color: black;
  border-radius: $dev-radius;
  font-size: 1rem;
  height: auto;
  padding: 8px 16px;
  font-family: $dev-font;
  text-align: start;
  margin: 0;
  background-color: $mainBackgroundColor;
}

.btn-vryahn:hover {
  color: $dev-purple !important;
  border-radius: $dev-radius;
  font-size: 1rem;
  height: auto;
  padding: 8px 16px;
  font-family: $dev-font;
  text-align: start;
  margin: 0;
  background-color: white !important;
}

.new-vryahn {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  font-size: smaller;
  color: white;
  background-color: $dev-purple;
  width: 30px;
  height: 20px;
}

.btn-title-vryahn {
  color: black;
  border-radius: $dev-radius;
  font-size: 1.3rem;
  height: auto;
  font-family: $dev-font;
  text-align: start;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.btn-title-vryahn:hover {
  color: $dev-purple;
  border-radius: $dev-radius;
  font-size: 1.3rem;
  height: auto;
  font-family: $dev-font;
  text-align: start;
  margin: 0;
  padding: 0;
}

.sinbutton-title-vryahn {
  color: black;
  border-radius: $dev-radius;
  font-size: 1.3rem;
  height: auto;
  font-family: $dev-font;
  text-align: start;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.subtitulo {
    color: $dev-purple;
    border-radius: $dev-radius;
    font-size: 1.1rem;
    height: auto;
    font-family: $dev-font;
    text-align: start;
    margin: 0;
    padding: 0;
    font-weight: bold;
  }