// ------- Inicio Styles Navbar--------------
.text-center{
  display: flex;
}

.site_logo{
  height: 40px;
}

.hamburg_icon{
  height: 30px;
}

.lupa_icon{
  height: 20px;
}

.img_notifications{
  height: 20px;
}

.c-btn--icon-alone{
  border: none;
  --bs-bg-opacity: 0;
}

.img_menu{
  height: 20px;
}

.button_perfil{
  height: 30px;
  width: 30px;;
}

.search-text{
  width:350px;
}

.List_item{
  font: inherit;
  width: 200px;

    .List_mail{
      font-size: 13px;
    }
}
// ------- Fin Styles Navbar--------------


// ------- Inicio Styles Aside--------------

.list-group-item{
  text-align: left;
  margin-left: 10px;
}

.p__other{
  text-align: left;
  margin-left: 10px;
}

// ------- Final Styles Aside--------------


.formatFooter{
    background-color: #e5e5e5;
    font-family: var(--ff-sans-serif);
    font-size: 14px;
  }